.root {
    -fx-background-color: #0B0B0B;
}

.label-logo {
    -fx-font-family: "Ardela";
    -fx-font-size: 72px;
    -fx-text-fill: #FFFFFF;
}

.big-button {
    -fx-font-family: "Sora";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-pref-width: 450px;
    -fx-pref-height: 75px;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.big-button-primary {
    -fx-background-color: #16BC4E;
    -fx-text-fill: #0B0B0B;
}

.big-button-secondary {
    -fx-background-color: #0B0B0B;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #16BC4E;
    -fx-border-width: 2px;
}

.text-field-styled {
    -fx-font-family: "Sora";
    -fx-font-size: 15px;
    -fx-background-color: #222222;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #16BC4E;
    -fx-padding: 15px;
}

.login-title {
    -fx-font-family: "Ardela";
    -fx-font-size: 42px;
    -fx-text-fill: #FFFFFF;
}

.link-button {
    -fx-font-family: "Sora";
    -fx-text-fill: #666666;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.sidebar {
    -fx-background-color: #0B0B0B;
}

.sidebar-button {
    -fx-font-family: "Sora";
    -fx-font-size: 13px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #0B0B0B;
    -fx-pref-height: 60px;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 40px;
    -fx-cursor: hand;
}

.sidebar-button-selected {
    -fx-background-color: #1A1A1A;
    -fx-border-width: 0 0 0 6px;
    -fx-border-color: #16BC4E;
}

.dashboard-content {
    -fx-background-color: #F8F9FD;
    -fx-padding: 60px 80px;
}

.content-title {
    -fx-font-family: "Ardela";
    -fx-font-size: 58px;
    -fx-text-fill: #0B0B0B;
}

.form-card {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #EEEEEE;
    -fx-padding: 35px;
}

.text-field-form {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #16BC4E;
    -fx-pref-height: 70px;
    -fx-padding: 15px;
}
